body{
   
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.Logo{
    max-width: 60%;
    max-height: 60px;
}
header{
    max-width: 100%;
    min-width: 50%;
    max-height: 80px;
    justify-items: center;
    background-image: url(./LanDingPage/headerimg.png);
    
}
.header_main{
    width: 100%;
    
}
.Carousel {
   max-width:  100%;
   max-height: 550px;
    background-image: url(./LanDingPage/headerimg.png);
    display: flex; /* Sử dụng flexbox để xếp các carousel theo hàng ngang */
    justify-content: center; /* Giãn cách đều các carousel */
    align-items: center; /* Căn giữa các carousel theo chiều dọc */
}

.carousel {
 width: 100%;
   height: 100%;
    transition: none !important; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; /* Điều chỉnh khoảng cách giữa các hình ảnh nếu cần */
}

.Carousel .MainCarousel {
  
    max-width: 100%;
  max-height: 100%;
  min-height: 50%;
    min-width: 50%;   
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
    overflow: hidden; /* Đảm bảo các slide không thể thoát khỏi container */
}

.carousel-inner {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden; /* Đảm bảo các slide không thể thoát khỏi container */
}

.carousel-item {
    width: 100%;
    height: 85%;
    justify-content: center;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Thêm hiệu ứng chuyển đổi cho opacity và transform */
}

.carousel-item img {
    width: 100%;
    height: auto;
    box-shadow: 15px 8px 18px rgba(0, 0, 0, 0.2), 8px 8px 20px rgba(8, 8, 8, 0.19);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 8px;
}



/* Điều chỉnh kích thước và vị trí của từng carousel để có hiệu ứng tràn */
.Carousel #carousel1,
.Carousel #carousel2,
.Carousel #carousel3,
.Carousel #carousel4,
.Carousel #carousel5 {
    transition: all 1s ease-in-out; /* Thêm hiệu ứng chuyển đổi cho tất cả các thuộc tính */
}

.Carousel #carousel1 {
    z-index: 1;
    width: 15%; /* Đặt kích thước nhỏ hơn để tạo khoảng trống cho tràn */
    height: 70%;
    padding-top: 18%;
    margin-right: -7.5%; /* Điều chỉnh khoảng cách tràn sang carousel bên cạnh */
    opacity: 0.75;
    transform: translateX(0); /* Vị trí trung tâm */
}

.Carousel #carousel2 {
    z-index: 2;
    width: 25%;
    height: 150%;
    padding-top: 13%;
    margin-right: -10%; /* Điều chỉnh khoảng cách tràn sang carousel bên cạnh */
    opacity: 0.95;
    transform: translateX(0); /* Vị trí trung tâm */
}

.Carousel #carousel3 {
    z-index: 3;
    width: 50%;
    height: 100%;
    margin-right: -12.5%; /* Điều chỉnh khoảng cách tràn sang carousel bên cạnh */
    padding-top: 50px;
    opacity: 1;
    transform: translateX(0); /* Vị trí trung tâm */
}

.Carousel #carousel4 {
    z-index: 2;
    width: 25%;
    height: 150%;
    margin-right: -10%; /* Điều chỉnh khoảng cách tràn sang carousel bên cạnh */
    padding-top: 13%;
    opacity: 0.95;
    transform: translateX(0); /* Vị trí trung tâm */
}

.Carousel #carousel5 {
    z-index: 1;
    width: 15%; /* Đặt kích thước nhỏ hơn để tạo khoảng trống  */
    height: 70%;
    padding-top: 18%;
    opacity: 0.75;
    transform: translateX(0); /* Vị trí trung tâm */
}
.Comment{
    max-width: 100%;
    height: 200px;
    text-align: center;
    color: #000000;
    padding-top: 5%; 
    background-color: #eae6e6;
}
.Comment h2{
margin-left: 3.5%;
margin-bottom: 1%;

}
/* Button Download */
.Buttondownload {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: #fff;
    margin-left: 26px;
   min-width: 100%;
    max-height: 20%;
}

.Buttondownload button {
    background-color: rgb(205, 71, 71);
    border-radius: 20px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
   
}

.Buttondownload a {
    color: #fff;
    text-decoration: none;
    max-width: 100%;
}

.Buttondownload .Chplay {
    margin-left: 40px;
}
.NavbarInformation{
    
    height: fit-content;
    max-width: 100%;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
    box-shadow:0px 0px 5px rgba(61, 58, 58, 0.2);
    border-radius: 10px;
    
}
.NavbarInformation .Navbaritem{
    max-width: 100%;
    min-width: 30%;
   padding: 3%;
    text-align: center; 
    box-shadow:5px 5px 5px rgba(61, 58, 58, 0.2)
}
nav{
    min-width: 100%;
    padding: 0 ;
    justify-content: center;
    align-items: center;
}
/* Comment Section */
main {
    max-width: 100%;
    min-width: 80%;
    min-height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main img {
    max-width: 100%;
    height: auto; 
}

main .main-content {
    width: 55%;
    margin: 0 auto;
}

main .icon_main {
    padding: 2%;
    height: 100%;
}

main .icon_main .Star {
    height: fit-content;
    padding-top: 3%;
    margin-left: 1%;
}

main .icon_main .td {
    height: 100%;
    margin-right: 5%;
}

.Tdh-main .Tdh {
    margin-top: 0;
    width: 80px;
    margin-left: 50%;
    height: 100px;
}

header .Comment_head {
    max-width: 65%;
    padding-top: 1%;
    color: #fff;
    text-align: left;
}

.Comment_main {
    max-width: 100%;
    padding-top: 8%;
    padding-left: 10%;
}

.Comment_main span, 
.Comment_main_left span {
    background-color: rgb(139, 192, 192);
    border-radius: 7px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.Comment_main_left {
    padding-right: 4%;
    width: 20%;
    text-align: right;
    padding-top: 8%;
}

.main_row {
    min-width: 100%;
    height: 400px;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.main_row_left{
    min-width: 100%;
    height: 400px;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.img_main {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.img_main .img_main_right {
    padding-top: 40%;
    margin-left: 2%;
    width: 400px;
    height: 380px;
}

.img_main .img_main_left {
    padding-top: 40%;
    width: 370px;
    height: 400px;
    margin-left:4% ;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
.carousel-control-prev-icon{
    margin-top: 90px;
    width: 30px ;
    height: 20px;
    margin-right: 45px;
    background-color: rgb(119, 113, 113);
}
.carousel-control-next-icon{
margin-top: 90px;
    width: 30px ;
    height: 20px;
    margin-left: 75px;
    background-color: rgb(119, 113, 113);
}

footer{
    justify-content: center;
    min-width: 100%;
    background-color: rgb(60, 99, 157);
    max-height: 800px;
    min-height:400px ;
    padding-top: 40px;
    background-image: url(./LanDingPage/headerimg.png);
   
}

.Maininfo{
    min-width:  100%;
    padding: 5%;
}
.info{
    max-width: 100%;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-left: 50px;

    
}
.info img{
    max-width: 300px;max-height: 60px;
    box-shadow:0px 10px 10px rgba(61, 58, 58, 0.2);
}
.Inbox{
    max-width: 100%;
    padding-top: 1%;
    justify-content:center;
    color: rgb(148, 142, 142);
    height: 50px;
}
.Conten{
    overflow: hidden;  padding: 50px; width: 100%;height: 600px; justify-content: center;background-color: rgb(255, 255, 255);border-radius: 0,5px,10px;
}
.Conten .Main-content{
    width: 100%;
    height: 100%;
}
.Conten .fstar{
width: 100px; height: 50px; box-shadow: none; border: none;
}
.Main-content .carousel{
    min-width: 100%;
    height: 100%;
}
.Conten .carousel-inner {
width:  60%;
height: 300px;
margin-left: 20%;
   padding:0;
}
.Conten .carousel-inner .carousel-item{width: 100%;height: 100%;
}
.Buttondownload button{background-color: rgb(40, 158, 40);}

.maininfo_row{
    max-width: 100%;
    margin-top: 150px; height: 500px;margin-bottom: 100px;background-image: url(../LanDingPage/backconten.jpg);
}
.maininfo_row img{
    width: 120%;height: 100%;padding-left: 0;padding-top: 15%;
}

.active-carousel {
    opacity: 1; /* Hiển thị */
    transform: translateX(0); /* Đưa vào vị trí hiển thị */
}

.inactive-carousel {
    opacity: 0; /* Ẩn */
    transform: translateX(-100%); /* Đưa ra ngoài màn hình trái */
}
.carousel.transitioning {
    transform: scale(0.9) rotate(5deg); /* Kết hợp phóng to/thu nhỏ và xoay */
    transition: transform 5s ease-in-out;
}
    .Conten .comma {
    width: 50px; height: 30px; box-shadow: none; border: none;margin-right: 80%;
}

.Buttondownloadnext {
    display: flex;
    justify-content: center;
   
    background-color: #e2e9ec;
    max-width: 100%;
    max-height: 20%;

}

.Buttondownloadnext button {
    background-color: rgb(144, 190, 134);
    border-radius: 20px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
}

.Buttondownloadnext a {
    color: #fff;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
  }
 
  
  button.btn {
    background-color: #3876b9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  button.btn:hover {
    background-color: #0056b3;
  }
 #out{
    display: none;
 }
 @media (max-width: 768px) {
    body {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .Conten {
        width: 100%;
        height: 175px;
        justify-content: center;
        margin-bottom: 400px;
        margin-top: 0px;
    }

    .Conten .carousel-inner {
        width: 60%;
        height: 400px;
        margin-left: 20%;
    }

    .Main-content .carousel {
        width: 100%;
        height: 100%;
    }

    .Conten .carousel-inner .carousel-item {
        width: 100%;
        height: 100%;
      
    }

    .maininfo_row {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .maininfo_row .img_Main {
        width: 100%;
        height: 100%;
        padding-left: 0;
        padding-top: 15%;
    }

    .maininfo_row .info img {
        width: 800px;
        height: 60px;
        box-shadow: 0px 10px 10px rgba(61, 58, 58, 0.2);
    }

    .maininfo_row .Comment_main {
        width: 100%;
        align-items: center;
    }

    .header_main {
        flex-direction: column;
        text-align: center;
    }

    .Navbar h2 {
        font-size: 20px;
        margin-top: 10px;
    }

    .main_row {
        width: 100%;
        flex-direction: row;
        padding-top: 20%;
    }

    .main_row_left {
        flex-direction: row;
        width: 100%;
        padding-top: 20%;
    }

    .img_main {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .img_main .img_main_left, .img_main .img_main_right {
        margin-top: 10px;
        width: 350px;
        height: 150px;
    }

    .Comment_main_left, .Comment_main {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .Inbox {
        width: 100%;
        padding-top: 1%;
        color: rgb(148, 142, 142);
        height: 50px;
    }

    .Buttondownload {
        padding: 20%;
    }

    .NavbarInformation {
        flex-direction: column;
        align-items: center;
    }

    .NavbarInformation .Navbaritem {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .Carousel .carousel-control-prev,
    .Carousel .carousel-control-next {
        display: none;
    }

    main {
        padding: 10px;
    }

    .main-content {
        width: 100%;
    }

    .main_row {
        height: auto;
        margin: 20px 0;
    }

    .img_main_right, .img_main_left {
        width: 100%;
        height: auto;
        padding-top: 10px;
    }

    .Comment_main, .Comment_main_left {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .Buttondownload button {
        width: 50%;
        margin: 10px 0;
    }
}
@media (max-width: 1024px) {}
@media (min-width: 769px) and (max-width: 1024px) {
    main {
        padding: 10px;
    }
    .main_row {
        width: 100%;
        flex-direction: row;
        padding-top: 20%;
    }

    .main_row_left {
        flex-direction: row;
        width: 100%;
        padding-top: 20%;
    }

    .img_main {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .img_main .img_main_left {
        margin-top: 10px;
        width: 500px;
        height: 300px;
    }
    .img_main .img_main_right {
       
        width: 450px;
        height: 250px;
    }
    .Comment_main_left, .Comment_main {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .main_row {
        height: auto;
        margin: 20px 0;
    }

    .img_main_right, .img_main_left {
        width: 100%;
        height: auto;
        padding-top: 10px;
    }
    .header_main {
        flex-direction: row;
    }

    .main_row {
        flex-direction: row;
    }

    .Comment_main_left, .Comment_main, .img_main {
        width: 50%;
    }

    .NavbarInformation {
        flex-wrap: wrap;
    }

    .NavbarInformation .Navbaritem {
        width: 45%;
        margin: 10px;
    }

    .Buttondownload button {
        margin: 5px 10px;
    }
}
  
